body {
	margin: 0;
	background-color: rgb(142, 227, 255);
}

#pagetop {
	display: flex;
	background-color: rgb(255, 149, 137);
	height: 6vh;
	margin: 0;
	align-items: center;
	justify-content: flex-start;
	gap: 3vh;
}
#pagetop * {
	font-size: 18px;
	margin: 0;
	padding: 0;
}

#pagename {
	background-color: rgb(208, 255, 231);
	height: 7.5vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#pagename h1 {
	--tb: 2vh;
	--lr: 2vw;

	color: violet;
	font-size: 3.2vh;
	margin: 0;
	padding-top: var(--tb);
	padding-bottom: var(--tb);
	padding-left: var(--lr);
	padding-right: var(--lr);
	font-family: "Madimi One", sans-serif;
	font-style: normal;
	font-weight: bold;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ? Add a shadow? [See how it looks...] */
.main-rect {
	--r: 2vw;

	display: flex;
	flex-direction: column;
	gap: 5vh;

	background-color: white;
	width: 70vw;
	padding-top: 3vh;
	border-bottom-left-radius: var(--r);
	border-bottom-right-radius: var(--r);
	padding-bottom: 4.25vh;
	margin-bottom: 5vh;
}

p {
	--padlr: 5vw;

	padding: 0;
	padding-left: var(--padlr);
	padding-right: var(--padlr);
	font-family: "Josefin Sans", sans-serif;
	font-style: normal;
	font-weight: 375;
	font-size: 18px;
	margin-top: 2.25vh;
	margin-bottom: 0.75vh;
}

.main-rect h2 {
	color: goldenrod;
	text-align: left;
	padding-top: 2vh;
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 0.25vh;
	margin-top: 0.5vh;
	margin-left: 5vw;
}

ol {
	--padlr: 9vw;

	padding-left: var(--padlr);
	padding-right: var(--padlr);
	padding-top: 0;
	padding-bottom: 0.5vh;
	font-size: 16px;
	font-family: "Josefin Sans", sans-serif;
}

#input_area {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2vw;
}

#draw_input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}

textarea#code {
	min-width: 30vw;
	min-height: 10vh;
	resize: vertical;
	background-color: aliceblue;
	border-style: none;
	border-radius: 6px;
	font-size: 13.75px;
}

#files {
	display: flex;
	flex-direction: row;
	gap: 5vw;
}
.file-input {
	font-size: 18px;
}
.file-list ul {
	list-style-type: disclosure-closed;
	font-family: "Josefin Sans", sans-serif;
}
.file-list label {
	cursor: pointer;
}
#sizes {
	display: grid;
	grid-template-columns: 47.5% 52.5%;
	grid-template-rows: repeat(2, 50%);
}
#sizes input[type="text"] {
	width: 3.5vw;
}

.gappedol {
	display: flex;
	flex-direction: column;
	gap: 0.55vh;
}

.nogapli {
	display: flex;
	flex-direction: column;
	gap: 0;
}

.nogapli code {
	margin-bottom: -0.2vh;
}
.nogapli code:last-child {
	margin-bottom: 0.05vh;
}

label {
	font-family: "Nunito", sans-serif;
}

a {
	font-family: "Josefin Sans", sans-serif;
	color: white;
	text-decoration: none;
}

:focus {
	outline: none;
}

#output_area {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#output_area canvas {
	border-style: dashed;
	border-color: burlywood;
	border-width: 3px;
	border-radius: 10px;
}

#ghimg {
	height: 4vh;
	margin: 0;
	border-radius: 6px;
}

.img-download {
	display: flex;
	flex-direction: row;
	gap: 1vw;
	margin-left: auto;
}

#second-align {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5vh;
}

#pagetop-end {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: flex-end;
}
#pagetop-end p {
	margin-right: 2vw;
	color: white;
}

button#download-button,
input[type="text"] {
	font-family: "Josefin Sans", sans-serif;
	border-style: none;
	border-radius: 2px;
	height: fit-content;
	width: fit-content;
	padding-top: 2px;
}

button#download-button {
	background-color: rgb(90, 255, 200);
	color: white;
}

input[type="text"] {
	background-color: aliceblue;
}

input[type="text"]#img-format,
button#download-button {
	font-size: 16px;
}

.description p {
	margin-top: 1vh;
	font-size: 15px;
	padding-left: 2vw;
}

ol ol {
	padding-left: 6vw;
}

.post-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4vh;
}

.notice {
	color: tomato;
}

.files-container {
	display: flex;
	flex-direction: column;
	gap: 0.5vh;
}

.clear-button {
	border-style: none;
	border-radius: 2px;
	font-size: 18px;
	font-family: "Nunito", sans-serif;
	color: white;
	background-color: burlywood;
}

.clear-button:active {
	background-color: antiquewhite;
}

@media screen and (max-width: 1079px) {
	.main-rect {
		width: 100vw;
		margin-bottom: 0;
		border-radius: 0;
	}
	#sizes input[type="text"] {
		width: 11.75vw;
	}
	#code {
		width: 80vw;
	}
	#input_area {
		flex-direction: column;
	}
	#pagetop-end p {
		--lr: 5vw;
		padding: 0;
		padding-left: var(--lr);
		padding-right: var(--lr);
	}
	#second-align {
		align-items: center;
	}
}

@media screen and (max-width: 450px) {
	#pagetop {
		--tb: 2vh;
		padding-top: var(--tb);
		padding-bottom: var(--tb);
		gap: 10px;
	}
}
