/* ^ NOTE: the colours are (still) messed up;  
* These are but a fairly approximate sketch...; 
! ALSO - 'padding' and 'margin' are also switched places here...; 
*/

body {
	margin: 0;
}

header {
	margin: 0;
	padding: 0;
}

#pagetop {
	background-color: rgb(255, 149, 137);
	height: 6vh;
	margin: 0;
}

#pagename {
	background-color: rgb(208, 255, 231);
	text-align: center;
	height: 7.5vh;
	display: flex;
	flex-direction: column;
}

#pagename h1 {
	color: violet;
	font-size: 3.2vh;
	margin: 0;
	padding: 2vh;
	font-family: "Madimi One", sans-serif;
	font-style: normal;
	font-weight: bold;
}

main {
	display: flex;
	flex-direction: row;
}

.blue-rect {
	background-color: rgb(117, 220, 255);
	width: 20vw;
	border-radius: 2vw;
}
.blue-rect-left {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.blue-rect-right {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.main-rect {
	background-color: white;
	width: 60vw;
	display: flex;
	flex-direction: column;
	padding-top: 3vh;
}

p {
	--padlr: 5vh;
	padding: 0;
	padding-left: var(--padlr);
	padding-right: var(--padlr);
	font-family: "Josefin Sans", sans-serif;
	font-style: normal;
	font-weight: 375;
	font-size: 18px;
	margin-top: 2.25vh;
	margin-bottom: 0.75vh;
}

.main-rect h2 {
	color: goldenrod;
	text-align: center;
	padding-top: 2vh;
	font-family: "Nunito", sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-bottom: 0.25vh;
	margin-top: 0.5vh;
}

.main-rect h2:first-child {
	margin-top: 1vh;
}

ol {
	--padlr: 9vh;
	padding-left: var(--padlr);
	padding-right: var(--padlr);
	padding-top: 0;
	padding-bottom: 0.5vh;
	font-size: 16px;
	font-family: "Josefin Sans", sans-serif;
}

#input_area {
	padding-top: 2vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2vw;
}

#draw_input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}

textarea#code {
	min-width: 30vw;
	min-height: 10vh;
	resize: vertical;
}

#sizes {
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.gappedol {
	display: flex;
	flex-direction: column;
	gap: 0.55vh;
}

.nogapli {
	display: flex;
	flex-direction: column;
	gap: 0;
}

.nogapli code {
	margin-bottom: -0.2vh;
}
.nogapli code:last-child {
	margin-bottom: 0.05vh;
}

label {
	font-family: "Nunito", sans-serif;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(213, 147, 241);
	height: 10vh;
}

a {
	font-family: "Josefin Sans", sans-serif;
	color: blue;
	text-decoration: none;
	margin-left: 4vh;
}
a:visited {
	color: white;
}

:focus {
	outline: none;
}
